<script setup lang="ts">
defineProps({
  value: {
    type: String,
    required: true,
  },
})

const emit = defineEmits({
  "update:value": (v: string) => true,
})

function handleInput(event) {
  emit("update:value", event.target.value)
}
</script>

<template>
  <input
    class="pa-3 border-solid border-2 border-gray-300 rounded-md d-block w-100"
    :value="value"
    @input="handleInput"
  >
</template>
