<script setup lang="ts">
import type { Action } from "backend/src/public-types"

const props = defineProps({
  action: {
    type: Object as () => Action,
    required: true,
  },
})

const emit = defineEmits({
  "update:action": (v: Action) => true,
  "remove": () => true,
})

const EditorComponent = defineAsyncComponent(() => import(`~/components/actions-editors/${props.action.type}.vue`))
</script>

<template>
  <div
    class="flex flex-col p-6 bg-[#FFF] border border-[#E6E6E5] rounded-md"
    :tooltip="action.type"
  >
    <div class="flex items-center gap-2">
      <div class="p-2 bg-[#F1E7FE] text-[#650DD9]">
        <div :i="`carbon-${action.type}`" />
      </div>
      <div class="flex-grow-1 text-[#19181E] text-sm font-semibold truncate text-left">
        {{ $t(`actions.${action.type}.title`) }}
      </div>
      <div :tooltip="$t('delete')" class="cursor-pointer text-[#650DD9]" @click="emit('remove')">
        <div i="carbon-delete" />
      </div>
    </div>
    <div class="ml-8">
      <component
        :is="EditorComponent"
        :options="action.options"
        @update:options="emit('update:action', { ...action, options: $event })"
      />
    </div>
  </div>
</template>
