<script lang="ts">
export default {
  name: "AutomationCard",
  inheritAttrs: false,
}
</script>

<script setup lang="ts">
defineProps({
  automation: { type: Object, required: true },
})

const emit = defineEmits({
  run: () => true,
  edit: () => true,
  delete: () => true,
})
</script>

<template>
  <div
    class="flex flex-col p-6 bg-[#FFF] border border-[#E6E6E5] rounded-md"
    :tooltip="automation.name"
  >
    <div class="flex items-center gap-2">
      <div class="p-2 bg-[#F1E7FE] text-[#650DD9]">
        <div i="carbon-bot" />
      </div>
      <div class="flex-grow-1 text-[#19181E] text-sm font-semibold truncate text-left">
        {{ automation.name }}
      </div>
      <div :tooltip="$t('run')" class="cursor-pointer text-[#650DD9]" @click="emit('run')">
        <div i="carbon-run" />
      </div>
      <div :tooltip="$t('edit')" class="cursor-pointer text-[#650DD9]" @click="emit('edit')">
        <div i="carbon-edit" />
      </div>
      <div :tooltip="$t('delete')" class="cursor-pointer text-[#650DD9]" @click="emit('delete')">
        <div i="carbon-delete" />
      </div>
    </div>
  </div>
</template>
