<script setup lang="ts">
const emit = defineEmits({
  add: (v: { type: string; options: object }) => true,
})

const defaults = {
  http: { url: "" },
  popup: { message: "" },
}

const types = Object.keys(defaults)

function add(type: keyof typeof defaults) {
  emit("add", { type, options: { ...defaults[type] } })
}
</script>

<template>
  <div key="add" class="flex items-center justify-center">
    <button v-for="t in types" :key="t" class="bbx-btn-primary m-2" @click="add(t)">
      <div class="inline-block mr-1" :i="`carbon-${t}`" />{{ $t(`actions.${t}.title`) }}
    </button>
  </div>
</template>
