<script setup lang="ts">
const route = useRoute()
</script>

<template>
  <div>
    <!-- Static sidebar for desktop -->
    <div class="hidden bg-[#FCFAF7] md:flex md:w-60 md:flex-col md:fixed md:inset-y-0">
      <!-- Sidebar component, swap this element with another sidebar if you like -->
      <div class="flex-1 flex flex-col px-4 pb-4 overflow-y-auto max-h-screen">
        <router-link
          href="/"
          class="flex items-center flex-shrink-0 my-6 mx-2 font-mono font-bold text-[#E6E6E5] text-2xl cursor-pointer"
          to="/"
          :aria-current="'/' === route.path ? 'page' : undefined"
        >
          <img
            src="/assets/logo-green.svg"
            alt="Bonx"
            title="Bonx"
            class="w-16"
          >
        </router-link>
        <nav class="flex flex-col flex-1 justify-between gap-4">
          <div class="flex flex-col max-h-full mt-4 text-[#262626] text-sm" />

          <div class="flex flex-col">
            <router-link
              :key="$t('automations.title')"
              class="group flex items-center gap-2 p-2 text-sm rounded truncate" :class="[
                '/automations' === route.path ? 'bg-[#EAF5EE] text-[#3A8054]' : 'text-[#19181E]',
              ]"
              to="/automations"
              :aria-current="'/automations' === route.path ? 'page' : undefined"
            >
              <div
                class="flex items-center"
                :class="'/automations' === route.path ? 'text-[#3A8054]' : 'text-[#E6E6E5]'"
              >
                <div
                  class="h-4 w-4 text-[#3A8054]"
                  i="carbon-network-2"
                />
              </div>
              <span :title="$t('automations.title', 2)">{{ $t("automations.title", 2) }}</span>
            </router-link>
          </div>
        </nav>
      </div>
    </div>
    <div class="md:pl-60 w-0">
      <div class="sticky top-0 z-10 pl-1 pt-1 md:hidden sm:pl-3 sm:pt-3" />
    </div>
  </div>
</template>
