<script setup lang="ts">
import type { Action } from "backend/src/public-types"

type Options = Action<"popup">["options"]

const props = defineProps({
  options: {
    type: Object as () => Options,
    required: true,
  },
})

const emit = defineEmits({
  "update:options": (v: Options) => true,
})

function update(v: Partial<Options>) {
  emit("update:options", { ...props.options, ...v })
}
</script>

<template>
  <div class="flex flex-col items-start w-full">
    <span class="truncate">
      {{ $t(`actions.popup.message`) }}
    </span>

    <StringInput
      :value="options.message" @update:value="update({ message: $event })"
    />
  </div>
</template>
