<script async setup lang="ts">
import type { Action } from "backend/src/public-types"
import { useAutomationsStore } from "~/stores/automations"
import { processActionResults } from "~/utils/actions"

const router = useRouter()
const store = useAutomationsStore()

await store.loadAutomations()

const automationId = computed(() => {
  const id = router.currentRoute.value.params.id
  return typeof id === "string" ? id : null
})

const automation = computed(() => {
  const id = automationId.value
  return id ? store.automations?.[id] : undefined
})

const actions = ref<Action[] | null>(null)
watch(automation, (value) => {
  // Keep a local copy of the actions so that we can edit them locally
  actions.value = JSON.parse(JSON.stringify(value?.actions ?? null))
}, { immediate: true })

const saveNeeded = computed(() => {
  if (!automation.value)
    return false
  if (!actions.value)
    return false

  // TODO: use deep equal from somewhere
  return JSON.stringify(automation.value.actions) !== JSON.stringify(actions.value)
})

async function save() {
  if (automationId.value && automation.value && actions.value) {
    await store.updateAutomation(automationId.value, {
      ...automation.value,
      actions: actions.value,
    })
  }
}

const runAvailable = computed(() => {
  if (!automation.value)
    return false
  if (!actions.value)
    return false
  return actions.value.length > 0
})

async function run() {
  if (!automationId.value)
    return

  if (saveNeeded.value)
    await save()

  const results = await store.runAutomation(automationId.value)
  // TODO: use result renderer component instead
  processActionResults(results)
}
</script>

<template>
  <div v-if="automation" class="flex flex-1 flex-col bg-white">
    <div
      class="sticky z-10 top-0 flex flex-row justify-between items-center p-4 md:p-6 border-b bg-[#FFF] border-[#E6E6E5]"
    >
      <div class="flex flex-1 items-center gap-4">
        <div
          class="flex py-2 cursor-pointer"
          @click="router.push({ name: 'automations' })"
        >
          <div
            i="carbon-arrow-left"
            class="scale-120"
          />
        </div>
        <span class="flex flex-1 text-[#262626] text-xl">
          {{ automation.name }}
        </span>
        <div class="flex gap-2 text-[#19181E] text-sm" />
        <div class="flex items-center h-full text-sm">
          <button class="bbx-btn-primary ml-2" :disabled="!saveNeeded" @click="save">
            <div class="inline-block mr-1" i="carbon-save" />{{ $t("save") }}
          </button>
          <button class="bbx-btn-primary ml-2" :disabled="!runAvailable" @click="run">
            <div class="inline-block mr-1" i="carbon-run" />{{ $t("run") }}
          </button>
        </div>
      </div>
    </div>
    <div
      v-if="automation && actions"
      class="flex flex-col gap-4 p-4 w-full"
    >
      <ActionCard
        v-for="action, index in actions"
        :key="index"
        :action="action"
        @update:action="actions[index] = $event"
        @remove="actions.splice(index, 1)"
      />

      <NewAction
        key="new-action"
        @add="actions.push($event)"
      />
    </div>
    <div
      v-else
      class="flex flex-col gap-4 p-4 w-full"
    >
      <div class="flex items-center justify-center">
        <div class="inline-block mr-1 text-xl" i="carbon-rocket" /> Let's build an automation system!
      </div>
    </div>
  </div>
</template>

<route lang="yaml">
meta:
  layout: home
  requiresAuth: true
</route>
