<script async setup lang="ts">
import { useAutomationsStore } from "~/stores/automations"
import { processActionResults } from "~/utils/actions"

const router = useRouter()
const store = useAutomationsStore()
const i18n = useI18n()

await store.loadAutomations()

const search = ref("")
const automations = computed(() => {
  if (!store.automations)
    return {}

  return Object.fromEntries(
    Object.entries(store.automations).filter(([,a]) => a.name.toLowerCase().includes(search.value)),
  )
})

async function goToAutomation(id: number | string) {
  await router.push({
    name: "automations-id",
    params: { id },
  })
}

async function runAutomation(id: number | string) {
  const results = await store.runAutomation(id)
  // TODO: use result renderer component instead
  processActionResults(results)
}

async function handleCreate(event: Event) {
  const name = prompt(i18n.t("automations.new_automation_name"))
  if (!name)
    return

  await store.createAutomation({
    name,
    actions: [],
  })
}
</script>

<template>
  <div class="flex flex-1 flex-col bg-white">
    <div
      class="sticky z-10 top-0 flex flex-row justify-between items-center p-4 md:p-6 border-b bg-[#FFF] border-[#E6E6E5]"
    >
      <h2 class="text-xl text-[#272726]">
        {{ $t("automations.title") }}
      </h2>
      <div class="flex items-center h-full text-sm">
        <button class="bbx-btn-primary" @click="handleCreate">
          <div class="inline-block mr-1" i="carbon-add-alt" />{{ $t("new") }}
        </button>
      </div>
    </div>

    <div
      class="flex flex-col p-4 gap-4 w-full"
    >
      <div class="flex flex-row justify-between items-center gap-4">
        <div class="relative flex items-center w-full text-[#262626]">
          <div i="carbon-search" class="absolute w-4 left-3" />
          <input v-model="search" placeholder="Rechercher" type="text" class="flex w-full items-center gap-2 py-1 lg:py-2 pl-8 pr-4 text-sm border rounded transition cursor-pointer hover:border-[#3A8054] border-[#E6E6E]">
        </div>
      </div>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-4">
        <AutomationCard
          v-for="automation, id in automations"
          :key="id"
          :automation="automation"
          @run="runAutomation(id)"
          @delete="store.deleteAutomation(id)"
          @edit="goToAutomation(id)"
        />
      </div>
    </div>
  </div>
</template>

<route lang="yaml">
meta:
  layout: home
</route>
