<script setup lang="ts">
import { useHead } from "@vueuse/head"

useHead({
  title: "Test case",
  meta: [{ name: "description", content: "Test case" }],
})

</script>

<template>
  <router-view />
</template>
